* { margin: 0; padding: 0; box-sizing: border-box; }
body{
margin-top: 20px;
}
#navigation{
    position: fixed;
    top:0px;
    width:100%;
}
#nav-items{
	margin-right: 20px;
    float:right;
}

#nav-items > a{
    text-decoration: none;
    border-right: 1px solid gray;
    padding-right: 5px;
}

#nav-items > a:last-of-type {
    border-right: 0px!important;
}

#maze-code{
	margin:20px;
}